/* Settings Panel Header */
.loregraph_header {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 5px;
    transition: background-color 0.2s;
}

.loregraph_header:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

.loregraph_header h3 {
    margin: 0;
    display: inline-block;
    font-size: 1.1em;
    color: #ccc;
}

/* Magic Wand Menu Item */
#loregraph_tool_item:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
}

.loregraph-menu-link {
    color: inherit;
    text-decoration: none;
    width: 100%;
    display: block;
}
