@tailwind base;
@tailwind components;
@tailwind utilities;

body, html, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #0f172a;
  color: #e2e8f0;
}

.font-mono {
  font-family: 'JetBrains Mono', monospace;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #1e293b;
}
::-webkit-scrollbar-thumb {
  background: #475569;
  border-radius: 3px;
}

.cursor-wait {
    cursor: wait;
}